body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.container{
    display: flex;
    width: 1450px;
    margin: 10px auto;
}
.left-sidebar{
    width: 15%;
    height: 96vh;
    border-right: 1px solid gray;
    position: sticky;
    top: 25px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.insta-logo{
    height: 50px;
    margin-bottom: 20px;
}

button{
    display: flex;
    align-items: center;
    gap: 10px;
    width: 180px;
    border: none;
    background: none;
    text-align: start;
    font-size: 20px;
    margin-bottom: 20px;
    color: black;
    font-weight: 500;
    gap: 30px;
}

.left-sidebar button img{
    height: 20px;
}

.feeds{
    width: 50%;
}
.right-sidebar{
    width: 30%;
}

.p-img{
    height: 50px;
    border-radius: 50%;
}

.sub-container{
    display: flex;
    align-items: center;
    gap: 10px;
}

.u-name1{
    margin-bottom: 0;
    font-weight: 600;
}

.u-name2{
    margin-top: 0;
    color: gray;
}

.switch{
    color: rgb(0, 64, 255);
    font-weight: 600;
}

.suggested-text1{
    color: gray;
}

.suggested-text2{
    font-weight: 600;
}


.right-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.some-text{
    display: flex;
    justify-content: space-between;
}

.stories{
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 15px;
}

.story-img{
    height: 60px;
    border-radius: 50%;
    border: 3px solid transparent; /* Set a transparent border */
    background-image: linear-gradient(45deg, #FF5733, #E90052); /* Adjust gradient colors and angle */
}

.story-user-name{
    text-align: center;
    margin-top: 0;
}


.profile{
    display: flex;
    gap: 10px;
    align-items: center;
}

.profile-img{
    height: 50px;
    border-radius: 50%;
}

.name{
    margin-bottom: 0;
    font-weight: 600;
}

.user-name{
    margin-top: 0;
    color: gray;
}
.feed{
    width: 400px;
    margin: 10px auto;
}

.feed-img{
    width: 100%;
    border-radius: 10px;
}

.icons{
    display: flex;
    justify-content: space-between;
}

.icon1{
    display: flex;
    gap: 30px;
    margin-top: 10px;
}

.icon2{
    margin-top: 10px;
}

.likes{
    margin-top: 5px;
    margin-bottom: 0;
}
.description{
    margin-top: 5px;
    margin-bottom: 0;
}
.comments{
    margin-top: 5px;
    margin-bottom: 0;
    color: gray;
}

.add-comment{
    margin-top: 5px;
    margin-bottom: 0;
    color: gray;
}

.h-row{
    margin-top: 20px;
    margin-bottom: 20px;
}